# .gitignore file for LPCXpresso projects


# Windows files

[Tt]humbs.db


# Mac files
.DS_Store

# Matlab temp
*.m~
*.asv


# LPCXpresso files

.metadata
*[Dd]ebug/
*[Dd]ebug Breakpoint/
*[Rr]elease/
*[Ll]ibs/
*__pycache__/
/Doxygen
*.o
*.log

/O2/**

